<div>
    Type : <%= data.results[0].type %>
    HAHe: <%= data.results[0].item.instructions %>
    <embed src="<%= data.results[0].item.original_video_url %>">
</div>
<% for(let i=1; i < 8;i++) { %>
<div>
    Type: <%= data.results[i].type %>
    Name: <%= data.results[i].name %>
</div>
<% } %>